@import './mobile.styl';
@import './map.styl';
@import './theme-container';
@import './csshake';

/* * all * */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

fieldset, img {
    border: 0;
}

li {
    list-style: none;
}

input[type=radio] {
    cursor: pointer;
}

input[type=checkbox] {
    cursor: pointer;
}

* {
    box-sizing: border-box;
}

a, a:active, a:hover, a:visited, a:link {
    text-decoration: none;
    cursor: pointer;
}

body, html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: #222;
}

/* 滚动条样式 */
div::-webkit-scrollbar, ul::-webkit-scrollbar, pre::-webkit-scrollbar, body::-webkit-scrollbar, html::-webkit-scrollbar {
    /* 滚动条整体样式 */
    width: 8px !important;
    /* 高宽分别对应横竖滚动条的尺寸 */
    height: 8px !important;
}

div::-webkit-scrollbar-thumb, ul::-webkit-scrollbar-thumb, pre::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb, html::-webkit-scrollbar-thumb {
    /* 滚动条里面小方块 */
    background: #909399 !important;
}

div::-webkit-scrollbar-track, ul::-webkit-scrollbar-track, pre::-webkit-scrollbar-track, body::-webkit-scrollbar-track, html::-webkit-scrollbar-track {
    /* 滚动条里面轨道 */
    background: #F1F1F1 !important;
}

#app, .theme-container, .page {
    height: 100%;
}

.theme-default-content {
    position relative;
    min-height: calc(100% - 120px);
}

.logo {
    position: relative;
    height: 1.8rem !important;
    min-width: 0rem !important;
    top: 5px;
}

.theme-container {
    .suggestions {
        border-radius: 5px;
        border: 1px solid #e4e7ed;
        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
        margin-top: 15px;
    }
}

.content__default {
    max-width: 100% !important;
    margin: 0 0 !important;
    // padding: 0 !important;
    overflow-x: hidden;

    h2 {
        margin-bottom: 0 !important;
        font-size: 1.8rem;
        border-bottom: 0;
    }

    h3 {
        margin: 55px 0 10px !important;
        padding: 0 0 10px 0 !important;
        font-weight: 400;
    }

    h6 {
        margin: 10px 0 20px !important;
        padding: 0 !important;
        font-size: 14px;
        color: #5e6d82;
        line-height: 1.5em;
        font-weight: 400;
    }

    >p {
        max-width: 840px;

        img {
            margin: 10px 0;
            border-radius: 5px;
        }
    }
}

.page-edit {
    max-width: 100% !important;
}

.page-nav {
    padding-bottom: 30px !important;
    .inner {
        // border-top: 0 !important;
    }
}

.el-checkbox {
    display: block;
    margin: 15px 0;

    &.is-checked {
        .el-checkbox__inner {
            background-color: #FAB905;
            border-color: #FAB905;
        }

        .el-checkbox__label {
            color: #606266 !important;
        }
    }
}

/* shn */
/* ==for FF/chrome/opera/IE8== */
.clearfloat:after {
    clear: both;
    content: '.';
    display: block;
    width: 0;
    height: 0;
    visibility: hidden;
}

.ellipsis {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: bottom;
}

.annotation {
    font-size: 13px;
    color: #888;
}

.cursor-pointer {
    cursor: pointer;
}

.no-padding {
    padding: 0 !important;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.filter-col {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* * index * */
.home {
    max-width: 1000px !important;

    .hero {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        img {
            max-height: 500px !important;
        }

        h1 {
            font-size: 2rem !important;
            margin: 1.4rem auto !important;
        }

        .description {
            margin: 1.4rem auto !important;
        }
    }
}

/* * photo-list * */
.photo-list {
    .el-image {
        >img {
            border-radius: 3px;
            transition: all 0.3s ease;
            transform-origin: center center;
            backface-visibility: hidden;

            &:hover {
                transform: scale(1.05);
            }
        }
    }
}
