@media screen and (max-width: 900px) {
    .content__default {
        img {
            width: 100%;
            height: auto;
        }
    }

    .home {
        &::-webkit-scrollbar {
            display: none;
        }
    }
}