@media screen and (max-width: 900px) {
    .content__default {
        img {
            width: 100%;
            height: auto;
        }
    }

    .home {
        &::-webkit-scrollbar {
            display: none;
        }
    }

    .blog {
        .theme-default-content {
            >iframe.bilibili {
                width: 100%;
                height: 200px !important;
            }
        }
    }
}