// 置顶/git
.el-tag--top,.el-tag--git {
    background-color: #171D20;
    border-color: #171D20;

    &.el-tag--plain {
        background-color: white;
        border-color: #171D20;
        color: #171D20;
    }
}

// 小程序
.el-tag--applets {
    background-color: #20B041;
    border-color: #20B041;

    &.el-tag--plain {
        background-color: white;
        border-color: #20B041;
        color: #20B041;
    }
}

// vuepress
.el-tag--vuepress {
    background-color: #8E44AD;
    border-color: #8E44AD;

    &.el-tag--plain {
        background-color: white;
        border-color: #8E44AD;
        color: #8E44AD;
    }
}

// 音乐，电影，娱乐
.el-tag--music,.el-tag--movie {
    background-color: #E6A23C;
    border-color: #E6A23C;

    &.el-tag--plain {
        background-color: white;
        border-color: #E6A23C;
        color: #E6A23C;
    }
}

// 奇闻异事
.el-tag--anecdote {
    background-color: #185a9d;
    border-color: #185a9d;

    &.el-tag--plain {
        background-color: white;
        border-color: #185a9d;
        color: #185a9d;
    }
}
