// journey life
.theme-container.journey, .theme-container.life {
    .theme-default-content {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 !important;
    }

    .page {
        padding-bottom: 0 !important;
    }

    .page-edit {
        display: none;
    }
}

// notes
.theme-container.notes {
    .theme-default-content {
        width: 100%;
        position: relative;
        padding: 0 !important;
        padding-top: 3.6rem !important;
        overflow-x: visible !important;
        text-align: center;

        >:not(.particles) {
            z-index: 2;
            position: relative;
        }
    }

    .page {
        padding-bottom: 0 !important;
    }

    .page-edit {
        display: none;
    }
}

// diary
.theme-container.diary {
    .theme-default-content {
        p {
            padding-left: 20px;
            border-left: 1px solid #efefef;
        }
    }
}

// animation-no-title
.theme-container.animation-no-title {
    .theme-default-content {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 !important;
        padding-top: 3.6rem !important;
    }

    .page {
        padding-bottom: 0 !important;
    }

    .page-edit {
        display: none;
    }

    .page-nav {
        display: none;
    }

    h2 {
        display: none;
    }
}